# Параметры подключения к базе данных
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=database
DB_SSLMODE=disable

# Параметры подключения защиты.
# См. ???(гайд) для получения советов по созданию собственного
# суперпользователя для работы над сайтом.
JWT_SECRET=
ADMIN_PASSWORD_HASH=

# Параметры соединения бекенда и фронтенда
CORS_ORIGIN=http://frontend:3000 # Работает только для dev!
BACKEND_PORT=8080
FRONTEND_DEV_PORT=3000